{% extends 'base.twig' %}

{% block content %}
	<main>
		{{
			include(
				'partials/page-title.twig',
				{
					title: post.title
				}
			)
		}}

		{{
			function(
				'wp_get_attachment_image',
				post.thumbnail.id,
				'full',
				false,
				{
					class: 'w-full min-h-[14rem] object-cover aspect-[3/1]'
				}
			)
		}}

		<div class="container max-w-xl mt-16 prose">
			{{ post.content }}
		</div>
	</main>
{% endblock %}
