node_modules/
npm-debug.log*
vendor/
.env

/source/wp-content/*
/source/wp-content/themes/*
!/source/wp-content/themes
!/source/wp-content/themes/mytheme

/.wp-setup/.image-cache/
/auth.json
/wp-config.php
/wp-remote-config.json
