build/
node_modules/
vendor/
npm-debug.log*

/.wp-setup/.image-cache/
/.env
/auth.json
/wp-config.php
/wp-remote-config.json
/.wp-env.override.json

/source/wp-content/*
!/source/wp-content/mu-plugins
!/source/wp-content/themes
