vendor/
composer.lock
/source/wp-content/plugins/*
/source/wp-content/themes/mytheme/**/*.twig
/source/wp-content/themes/mytheme/acf-json/
/source/wp-content/themes/mytheme/acp-settings/
/source/wp-content/themes/mytheme/build/
