{% extends 'pages/base.twig' %}

{% block content %}
	<main>
		<article>
			<h1>
				{{ post.title }}
			</h1>
			<p>
				{{ post.post_date|date('F j, Y') }}
			</p>
			<div class="s-post-content">
				{{ post.content }}
			</div>
		</article>
	</main>
{% endblock %}
