<header class="c-header">
	<div class="u-center u-center--wide">
		<div class="c-header__inner">
			<a class="c-header__title-link" href="{{ home_path }}">{{
				site.title
			}}</a>
			<button
				class="c-header__menu-button"
				type="button"
				aria-haspopup="dialog"
				data-action="header-modal#open"
			>
				メニュー
			</button>
		</div>
	</div>
</header>
