<a
	class="inline-flex items-center gap-x-1 align-middle px-3 py-2 text-sm border border-slate-300 rounded"
	{{ attrs }}
>
	{{ content }}
	{{
		sprite(
			'general',
			'chevron',
			{
				class: 'w-3 h-3 -mr-[0.125rem] fill-slate-400'
			}
		)
	}}
</a>
