@use "sass:map";

// Unit

@function rem($px) {
  @return $px / 16 * 1rem;
}

@function em($px, $context: 16) {
  @return $px / $context * 1em;
}

// Media query

// prettier-ignore
$mq-breakpoints: (
  xs: 0,
  sm: em(768),
  md: em(1024),
  lg: em(1440),
  xl: em(1680),
);

@mixin breakpoint($key, $until: false) {
  @if map.has-key($mq-breakpoints, $key) == false {
    @error "`#{$key}` does not exist in `$mq-breakpoints`";
  }
  $breakpoint: map.get($mq-breakpoints, $key);
  $is-zero: $breakpoint == 0;

  @if $is-zero and $until {
    @error "Breakpoints are not available for screens smaller than 0px";
  }

  @if $is-zero {
    @content;
  } @else if $until {
    @media not all and (min-width: #{$breakpoint}) {
      @content;
    }
  } @else {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}
