@use "../styles/abstracts" as *;

.c-footer {
	padding-top: rem(8);
	padding-bottom: rem(8);
	background-color: #eee;
}

.c-footer__title {
	font-weight: bold;
}

.c-footer__title-link {
	display: block;
	width: fit-content;
	padding-top: rem(8);
	padding-bottom: rem(8);
}

.c-footer__nav-list {
	margin-top: rem(32);
}

.c-footer__nav-item + .c-footer__nav-item {
	margin-top: rem(8);
}

.c-footer__nav-link {
	display: block;
	width: fit-content;
	padding-top: rem(8);
	padding-bottom: rem(8);
}
