<header class="header">
  <div class="center center--wide">
    <div class="header__inner">
      <a class="header__title-link" href="{{ site.home_url }}">{{ site.title }}</a>
      <button class="header__menu-button" type="button" aria-haspopup="dialog" data-action="header-modal#open">メニュー</button>
    </div>
  </div>
</header>
