<section>
	<ul class="space-y-6">
		{% for slide in attributes.slides %}
			<li>
				<figure class="space-y-1.5">
					{{
						function(
							'wp_get_attachment_image',
							slide.image.id,
							'full'
						)
					}}

					{% if slide.caption %}
						<figcaption class="text-sm text-gray-500 [&_a]:underline">
							{{ slide.caption }}
						</figcaption>
					{% endif %}
				</figure>
			</li>
		{% endfor %}
	</ul>
</section>
