<div class="py-16">
	<h1 class="container w-fit text-5xl text-slate-700 font-bold kerning">{{ title }}</h1>
	{% if description %}
		<p class="container w-fit max-w-2xl mt-6">{{ description }}</p>
	{% endif %}
</div>
