{% extends 'base.twig' %}

{% block content %}
	<main>
		<div class="container max-w-4xl">
			<ol class="divide-y">
				{% for post in posts %}
					<li>
						<a class="py-3" href="{{ post.link }}">{{ post.title }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</main>

	{{
		include(
			'partials/pagination.twig',
			{
				pagination: posts.pagination({
					show_all: false,
					mid_size: 3,
					end_size: 2
				})
			}
		)
	}}
{% endblock %}
