{% extends 'base.twig' %}

{% block content %}
	<main>
		<div class="container max-w-4xl">
			<ol class="divide-y">
				{% for post in posts %}
					<li>
						<a class="py-3" href="{{ post.link }}">{{ post.title }}</a>
					</li>
				{% endfor %}
			</ol>
		</div>
	</main>
{% endblock %}
