{% extends "base.twig" %}

{% block main %}
	<article class="center">
		<header>
			<h1>{{ post.title }}</h1>
			<p><time datetime="{{ post.date('Y-m-d') }}">{{ post.date('Y年n月j日') }}</time></p>
		</header>

		{{ post.content }}
	</article>
{% endblock %}
