{% extends 'base.twig' %}

{% block content %}
	<main class="p-4">
		<ul>
			{% for post in posts %}
				<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</main>
{% endblock %}
