<footer class="c-page-foot">
	<p>
		<a href="{{ site.link }}">{{ site.name }}</a>
	</p>
	<ul>
		{% for item in page_foot_menu.items %}
			<li><a href="{{ item.link }}">{{ item.title }}</a></li>
		{% endfor %}
	</ul>
</footer>
