/**
 * Usage:
 *
 * <div class="u-center">
 *   <div class="c-my-component">Foo</div>
 *   <div class="c-my-component">Bar</div>
 *   <div class="c-my-component">Baz</div>
 * </div>
 */

@use "../abstracts" as *;

.u-center {
	box-sizing: content-box;
	display: block;
	max-width: rem(1120);
	margin-right: auto;
	margin-left: auto;
	padding-right: rem(16);
	padding-left: rem(16);
}

.u-center--wide {
	max-width: rem(1280);
}
