/**
 * Usage:
 *
 * <div class="hidden md:block">hello</div>
 *
 * Display variants:
 *
 * <div class="{display}"></div>
 * <div class="{breakpoint}:{display}"></div>
 */

@use "../core" as *;

$display-values: (
  block: block,
  inline: inline,
  hidden: none,
  inline-block: inline-block,
);

@each $breakpoint-key, $breakpoint in $mq-breakpoints {
  $uses-media-query: $breakpoint != 0;
  $breakpoint-prefix: if($uses-media-query, "#{$breakpoint-key}\\:", null);

  @include breakpoint($breakpoint-key) {
    @each $name, $value in $display-values {
      .#{$breakpoint-prefix}#{$name} {
        display: $value;
      }
    }
  }
}
