/**
 * Usage:
 *
 * <div class="u-hidden bu-lock@md">Hello</div>
 *
 * Display variants:
 *
 * <div class="u-{value}"></div>
 * <div class="u-{value}@{breakpoint}"></div>
 */

@use "../abstracts" as *;

$display-values: (
	block: block,
	inline: inline,
	hidden: none,
	inline-block: inline-block,
);

@each $breakpoint-key, $breakpoint in $mq-breakpoints {
	$breakpoint-suffix: if($breakpoint, "\\@#{$breakpoint-key}", null);

	@include breakpoint($breakpoint-key) {
		@each $name, $value in $display-values {
			$base: u-$name;

			.#{$base}#{$breakpoint-suffix} {
				display: $value;
			}
		}
	}
}
