{% extends 'base.twig' %}

{% block content %}
	<main class="p-4">
		<h1>
			This is my archive
		</h1>

		<ol>
			{% for post in posts %}
				<li><a href="{{ post.link }}">{{ post.title }}</a></li>
			{% endfor %}
		</ol>

		{{
			include(
				'partial/pagination.twig',
				{
					pagination: posts.pagination({
						show_all: false,
						mid_size: 3,
						end_size: 2
					})
				}
			)
		}}
	</main>
{% endblock %}
