{% extends 'base.twig' %}

{% block content %}
	<main class="p-4">
		<article id="post-{{ post.ID }}">
			<section>
				<h1>
					{{ post.title }}
				</h1>
				{{ post.content }}
			</section>
		</article>
	</main>
{% endblock %}
