{% extends 'base.twig' %}

{% block content %}
	<main>
		<article>
			<h1>
				{{ post.title }}
			</h1>
			<div class="s-post-content">
				{{ post.content }}
			</div>
		</article>
	</main>
{% endblock %}
