{% extends 'base.twig' %}

{% block content %}
	<main>
		<article>
			<h1>
				{{ post.title }}
			</h1>

			<p>
				{{ post.post_date|date('Y年n月j日') }}
			</p>

			<figure>
				{{
					function(
						'wp_get_attachment_image',
						post.thumbnail.id,
						'post-thumbnail',
						false,
						{
							style: 'width: 100%;'
						}
					)
				}}
			</figure>

			{{ post.content }}
		</article>
	</main>
{% endblock %}
