<header class="c-page-head">
	<p>
		<a href="{{ site.link }}">{{ site.name }}</a>
	</p>
	<ul>
		{% for item in page_head_menu %}
			<li><a href="{{ item.link }}">{{ item.label }}</a></li>
		{% endfor %}
	</ul>
</header>
